<!--/ 
Content-type: text/html
-->

<html>
<head>
	<META charset="UTF-8">
	<title><%= _htmltitle %></title>
	<meta name="viewport" content="width=device-width" />
	<!--<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />-->
	<link rel="stylesheet" type="text/css" media="all" href="share/css/set/pc.css" />
	<!-- ※デフォルトのスタイル（style.css） -->
	<link rel="stylesheet" type="text/css" media="all" href="share/css/set/tablet.css" />
	<!-- ※スマートフォン用のスタイル（smart.css） -->

</head>
<style>
</style>
<body>
<div id="titleimg">
	<img src="<%= _	htmlimgurl%>" width=20% alt="アートカバー">
<!--/ #titleimg--></div>
<div id="itunelink">
	<a target="_blank" Href="https://itunes.apple.com/jp/podcast/tkcno-man-cai-tai-lang/id845711312?l=en">Podcast</a>
<!--/ #itunelink--></div>
<div id="infomation">
	隔週月曜日更新中<br>
	※気が向いた毎週
<!--/ #infomation--></div>

<table>
	<col span="1">
	<col span="1" class="distributed">
	<col span="1" class="date">
	<col span="1">
	<thead>
		<tr>
			<th class="index">
				<span></span>
			</th>
			<th class="title">
				<span>タイトル</span>
			</th>
			<th class="distributed">
	 			<span>説明</span>
	 		</th>
			<th class="date">
	 			<span>リリース</span>
	 		</th>
			<th class="url">
	 			<span>ＵＲＬ</span>
	 		</th>
		</tr>
	</thead>
 <% _dispItems.each_with_index do |y, i| %>
	<tr>
	
		<td class="index">第<%= _dispItems.length- i %>回</td>
		<td class="title">
			<div class="textinfo">
				<%= y.title %></td>
			</div>
 		<td class="distributed">
 			<div class="textinfo"><%= y.description %></div>
 		</td>
 		<td class="date">
 			<div class="textinfo"><%= y.date %></div>
 		</td>
 		<td class="url"><a Href="<%= y.url%>">mp3</a></td>
	</tr>
 <% end %>
</table>
<br>
<div id="tweet">
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large">ツイート</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
</body>
</html>

